<% include partials/head %>

<main>
  <h1><%= data.question %></h1>

  <section class="statistics">
    <% data.options.forEach((option, i) => {
      if (option.title) { %>
        <h3><%= option.title %></h3>
        <div class="percentageBar">
          <div class="amount amount--<%= i + 1 %>" style="width: <%= option.percentage ? option.percentage : 0 %>%"></div>
        </div>
        <p class="option<%= i + 1 %>value text"><%= option.percentage ? option.percentage : 0 %>% (<%= option.value %> <%= option.value === 1 ? 'vote' : 'votes' %>)</p>
      <% }
    }) %>
  </section>

  <section id="share">
    <h3>Share this poll</h3>
    <a href="<%= data.url %>" target="_blank" id="share-link"><%= data.url %></a>
  </section>

  <section id="create">
    <h3>Create a poll</h3>
    <a href="/poll" class="button">Create</a>
  </section>
</main>

<script src="/js/poll-data.js"></script>

<% include partials/tail %>
