<% include partials/head %>

<main>
  <h1><%= data.question %></h1>

  <section>
    <form action="/submit-answer/<%= data.id %>" method="post">
      <% data.options.forEach((option, i) => {
        if (option.title) { %>
          <div class="option">

            <label class="option__label" for="option<%= i + 1 %>">
              <input id="option<%= i + 1 %>" type="radio" name="option" value="option<%= i + 1 %>value">
              <span class="radiobtn"></span>
              <%= option.title %>
            </label>
          </div>
        <% }
      }) %>

      <input type="submit" name="submit" class="button">
    </form>
  </section>
</main>

<% include partials/tail %>
